h1 {
	font-family: inherit;
    font-weight: 500;
}
header{
	background-color: white;
	    padding-top: 5px;
}
header h1{
	vertical-align: middle;
	display: inline-block;
	padding-right: 25px;
}
header img{
	vertical-align: middle;
	width: 100px;
}
.project{
	width: 96%;
	margin: 0 auto;
}
.project div {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.project div img{
	max-width: 100%;
	max-height: 128px;
}